.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    // justify-content: center;
}

.product-card {
    // width: calc(20% - 2.5em);
    width: calc(33% - 2em);
    margin: 1em;
    border: 1px solid #EEE;
    border-radius: 8px;
    transition: all 0.2s ease;
    a {
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        overflow: hidden;
    }
    .product-image-container {
        overflow: hidden;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        position: relative;
        width: 364px;
        height: 485px;
        img {
            width: 364px;
            height: 485px;
            position: absolute;
            &.active {
                z-index: 10;
            }
        }
    }
    .pcd, .pc-meta {
        padding: 8px 16px;
    }
    .pcd {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .pcd-header {
            margin-right: 16px;
            width: calc(100% - 60px);
            .pcd-title {
                color: rgba(6, 6, 6, 0.7);
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 8px;
                line-height: 20px;
            }
            .pcd-desc {
                color: rgba(0, 0, 0, 0.8);
                position: relative;
                line-height: 17px;
                font-size: 14px;
                overflow: hidden;
                max-height: 51px;
                text-align: justify;  
                margin-right: -1em;
                padding-right: 1em;
                &:before {
                    content: '...';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    width: 1em;
                    height: 1em;
                    margin-top: 0.2em;
                    background: white;
                }
            }
        }
        .pcd-price {
            width: 60px;
            text-align: center;
            .pcd-price-retail {
                text-decoration: line-through; 
                margin-bottom: 8px;
                font-size: 14px;
                color: gray;
            }
            .pcd-price-sales {
                font-size: 20px;
                font-weight: 600;
                color: seagreen;
                margin-bottom: 4px;
            }
            .pcd-discount {
                font-size: 16px;
                margin-bottom: 8px;
                font-weight: 600;
                color: #eb273f;
            }
        }
    }
    .pc-meta {
        padding-top: 0;
        .pc-meta-group {
            margin-bottom: 8px;
            .pc-meta-helper {
                font-size: 12px;
                font-weight: 600;
                color: rgba(8, 8, 8, 0.6);
                margin-bottom: 4px;
            }
            .pc-meta-secondary {
                font-size: 12px;
                color: #666666;
                letter-spacing: 1.2px;
            }
        }
    }
    &:hover {
        box-shadow: 0 0 3px rgba(0,0,0,0.5),  0 1px 2px rgba(0,0,0,0.4);
    }
}